@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;}
    
body {
    line-height: 1;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

sub {
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
}

sup {
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}

p, ul, ol, dl, table {
    margin-bottom: 2em;
}

/* Image */

.image {
    display: inline-block;
    border: 0;
}

    .image img {
        display: block;
        width: 100%;
    }

    .image.avatar48 {
        width: 48px;
        height: 48px;
        background: #f00;
    }

        .image.avatar48 img {
            width: 48px;
            height: 48px;
        }

    .image.fit {
        display: block;
        width: 100%;
    }

    .image.featured {
        display: block;
        width: 100%;
        margin: 0 0 2em 0;
    }

    .image.left {
        float: left;
        margin: 0 2em 2em 0;
    }

    .image.centered {
        display: block;
        margin: 0 0 2em 0;
    }

        .image.centered img {
            margin: 0 auto;
            width: auto;
        }


/* List */

ul {
    list-style: disc;
    padding-left: 1em;
}

    ul li {
        padding-left: 0.5em;
    }

ol {
    list-style: decimal;
    padding-left: 1.25em;
}

    ol li {
        padding-left: 0.25em;
    }

#header .top {
			-moz-flex-grow: 1;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
		}

		#header .bottom {
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			padding: 1.5em 0 0.75em 0;
		}

			#header .bottom > :last-child {
				margin-bottom: 0;
			}


	#logo {
		position: relative;
		margin: 1.75em 1.5em 1.5em 1.5em;
		min-height: 48px;
		cursor: default;
	}

		#logo h1 {
			position: relative;
			color: #fff;
			font-weight: 600;
			font-size: 1em;
			line-height: 1em;
		}

		#logo p {
			position: relative;
			display: block;
			font-size: 0.6em;
			color: rgba(255, 255, 255, 0.5);
			line-height: 1.25em;
			margin: 0.5em 0 0 0;
		}

		#logo .image {
			position: absolute;
			left: 0;
			top: 0;
        }
        
        #nav ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
        }
    
            #nav ul li {
                padding-left: 0;
            }
    
                #nav ul li a {
                    display: block;
                    padding: 0.5em 1.5em 0.5em 1.5em;
                    color: rgba(255, 255, 255, 0.5);
                    text-decoration: none;
                    outline: 0;
                    border: 0;
                    -moz-transition: none;
                    -webkit-transition: none;
                    -ms-transition: none;
                    transition: none;
                }
    
                    #nav ul li a span {
                        position: relative;
                        display: block;
                        font-size: 0.8em;
                    }
    
                        #nav ul li a span:before {
                            position: absolute;
                            left: 0;
                            color: #41484c;
                            text-align: center;
                            width: 1.25em;
                            line-height: 1.75em;
                        }

            